<ion-view hide-nav-bar="true" scroll="false">
  <ion-content class="dark-background login">
    <a class="back-button purple" href="#/tab/aids">
        <i class="fa fa-arrow-left fa-lg"></i>
    </a>
    <ion-slide-box>
      <ion-slide ng-repeat="step in aid.steps">
        <div class="step center">
          <img ng-src="{{step}}">
        </div>
      </ion-slide>
      <ion-slide class="slide-quiz" ng-if="aid.quiz">
        <div class="step last">
          <a class="button button-positive" href="#/tab/aids/{{aid.id}}/quiz" ng-click="slideToZero()">
            Agora responda...
          </a>
           <a class="button button-stable" href="#/tab/aids" ng-click="slideToZero()">
            Voltar para o menu
          </a>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>