<ion-view hide-nav-bar="true" scroll="true">
  <ion-content class="quiz" >
    <div class="question" ng-repeat="question in questions">
	  <h1>{{question.title}}</h1>
	  <div class="awnser" ng-repeat="awn in question.awnsers track by $index" ng-show="!hasAnswered">
    	<input type="radio" name="question{{$parent.$index}}" value="{{$index}}" 
    	ng-model="radioawn[$parent.$index]" ng-click="select({{$index}}, question, {{$parent.$index}})">
    	<span class="purple" ng-click="select({{$index}}, question, {{$parent.$index}})">{{awn}}</span>
	  </div>
	  <div ng-show="hasAnswered" class="correctAwnser">
	  		<label ng-show="question.correct !== radioawn[$index]">
	    		{{question.awnsers[radioawn[$index]]}}</label>
	    	<label>{{question.awnsers[question.correct]}}</label>
	    	
	    	<label class="correct" ng-show="question.correct === radioawn[$index]">CORRETO!
	    	</label>

	    	<label class="wrong" ng-show="question.correct !== radioawn[$index]">ERRADO
	    	</label>
	    </div>
	</div>

	<button class="button button-balanced" ng-click="send()" ng-show="!hasAnswered">
        Enviar!
    </button>
    <a class="button button-stable" href="#/tab/aids" ng-show="hasAnswered">
		Voltar para o menu
	</a>

	<a class="button button-energized" href="#/tab/aids/{{aidNextId}}" ng-show="hasAnswered">
		Ir para {{nextAidName}}
	</a>
  </ion-content>
</ion-view>