<ion-view hide-nav-bar="true">
  <ion-content class="yellow-background">
    <center>
      <h1 class="title red">Primeiros </h1><h1 class="under-title red">Socorros</h1></center>
    <div class="list">
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right item" ng-repeat="aid in aids" type="item-text-wrap" href="#/tab/aids/{{aid.id}}">
          <h2>{{aid.name}}</h2>
          <p>{{aid.lastText}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(aid)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
