<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>402354475794-tf2nprbonqcnl9i38u530b8hqr01g71a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402354475794-tf2nprbonqcnl9i38u530b8hqr01g71a</string>
	<key>API_KEY</key>
	<string>AIzaSyBbkIUxKTOfUuGvKa9kOY97veNzIVeKm5c</string>
	<key>GCM_SENDER_ID</key>
	<string>402354475794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.unicamp.PrimeirosSocorros</string>
	<key>PROJECT_ID</key>
	<string>primeirossocorros-f31ab</string>
	<key>STORAGE_BUCKET</key>
	<string>primeirossocorros-f31ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:402354475794:ios:0c686a6a67455500</string>
	<key>DATABASE_URL</key>
	<string>https://primeirossocorros-f31ab.firebaseio.com</string>
</dict>
</plist>