.red{
	color: #EA272D;
}

.light-red{
	color: #FDE5DC;
}

.yellow{
	color: #FFFACD;
}

.purple{
	color: #7668B6;	
}


.step.center{
	text-align: center;
}

.step, .step img{
	height: 100vh;
}

.slider{
	height: 100vh;
}

.slide-quiz{
	overflow: scroll;
}


.slider-slides{
	height: 100vh !important;
}


.quiz h1{
	color: #EA272D;
	font-family: "SFSlapstickComic";
	font-size: 6.5vw;
}

.awnser{
	font-family: "HumanistLight";
	font-size: 4vw;
	line-height: 1.5;
}

.awnser input{
	width: 15px;
    height: 15px;
    margin-right: 10px;
}

.item{
   background: url("../img/desmaio/desmaio1.png") 0 0 repeat;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  margin-top: 12px;
  border: 0;
}

.item-content{
	background-color: #FDE5DC !important;
}

.item-content h2{
	color: #7668B6 !important;
}

.item h2{
	font-family: "SFSlapstickComic";
	font-size: 5vw;
	margin-top: 10px;
}

.list{
	padding: 10px;
	padding-top: 20px;
}

.title, .under-title{
	font-family: "SFSlapstickComic";
	margin: 0;	
	font-size: 9.5vw;
}

.title{
	margin-left: -80px;
}

.under-title{
	margin-left: 80px;
}

.yellow-background{
	background-color: #FFFACD;
}

.item-avatar .item-content{
	padding-left: 50px;
}

center h1:first-child{
	margin-top: 30px;
}


.question{
	margin-bottom: 15vh;
}

.quiz{
	background-color: #FFFACD;
	padding: 10vh 10vh 0 10vh;
}

.quiz button, .quiz a{
	width: 100%;
	font-family: "SFSlapstickComic";
	font-size: 5vw;
	padding: 2vw;
}

.last{
	background-color: #FFFACD;
	padding: 20px;
	height: 100vh;
	padding-top: 10vw;
}

.step.last a{
	font-family: "SFSlapstickComic";
	display: block;
	margin: 0 auto;
	font-size: 5vw;
	padding: 2vw;
	margin-top: 5vw;
}

.correctAwnser label{
	color: #33cd5f;
    font-family: "HumanistLight";
	font-size: 4vw;
	line-height: 1.5;
	font-weight: bold;

}

@font-face {
    font-family: "SFSlapstickComic";
    src: url(../fonts/SFSlapstickComic.ttf);
}

@font-face {
    font-family: "HumanistLight";
    src: url(../fonts/HumanistLight.otf);
}