.red{
	color: #EA272D;
}

.light-red{
	color: #FDE5DC;
}

.yellow{
	color: #FFF9CF;
}

.step.center{
	text-align: center;
}

.step, .step img{
	height: inherit;
}

.slider{
	height: 100%;
}

.slide-quiz{
	overflow: scroll;
}
